# Markdown
## Markdown
### Markdown

#### Markdown

**python**

# Insert image
![text](https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg)

# Insert site
[site](https://login.gitam.edu/Login.aspx)

# Python
- python is easy to learn 
- python is more popular and demand
- python is used in datascience

In [4]:
print("hello world")

hello world

# Assignment

In [5]:
x=10
y=12
print(x,y)

10 12

In [6]:
a=b=c=20
print(a,b,c)

20 20 20

In [7]:
a1,b1,c1 = 123,234,345
print(a1,b1,c1)

123 234 345

# Data types and conversions
- int
- float
- string
- complex
- boolean

In [9]:
x = 12.2
y = 12+34
z = 1j+3
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'complex'>

In [10]:
x = 4
y = 5
x < y

True

In [11]:
#string
s1 = "likta"
s2 = "abc"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [16]:
i=128
print(type(i))
s1=str(i)
print(type(s1))
f=float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
c=complex(3,6)
print(c)

(3+6j)

# Reading a value---Input function

In [18]:
s = input ("enter name:")
print(s)
print(type(s))

enter name:likta
likta
<class 'str'>

In [19]:
a= int(input("enter age"))
print(a)
print(type(a))

enter age20
20
<class 'int'>

# Operators
- operator is a symbol used to perform a specific kind of operations

# Arthematic operators
- +
- -
- *
- /
- %
- //
- **

In [21]:
n=123
print(n+10)
print(n-10)
print(n*10)
print(n/10)
print(n%10)
print(n//10)
print(n**10)

133
113
1230
12.3
3
12
792594609605189126649

#  precedence of arth operators
- paranthesis
- power
- multipication
- division
- addition

In [22]:
x = 1+2 **3/4+5
print(x)

8.0

In [26]:
x = 12*4//3**2+1
print(x)

6

# Relational operators
 - ==, !=,<, >,<=,>=

In [27]:
a= 12
a1=a<15
print(a1)

True

# Logical operators
- and , or , not

In [29]:
x= 20
y= 30
print(x>=10 and x<=20)
print(x>=10 or x>=20)
print(not x)

True
True
False

# Membership operators

In [30]:
str1 ="abc"
print('a' in str1)
print('a' not in str1)

True
False

# Conditional statements

## if -else statements
### syntax:
#### if condition:
> statements <br>
##### else:
> statements

In [32]:
# even or odd
n = int(input("enter a number : "))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter a number : 124
even number

In [34]:
# check given is perfectly multiple of 3 and 5
n = int(input("enter a number"))
if n%3==0 and n%5==0:
    print("it is divisible by 3 and 5")
else:  
    print("it is not divisible by 3 and 5")

enter a number131234
it is not divisible by 3 and 5

In [35]:
n = int(input("enter a number"))
if n>0:
    print("positive")
elif n<0: 
    print("negative")
else: 
    printf("zero")

enter a number243
positive

In [ ]:
n = int(input("enter a number"))
if n=366:
    print("leap year")
else:  
    print("not a leap year")