In [32]:
li =["gitam",123,124,1323,1245,3451]
print(li)
print(li[3])
print(li[3:])
print(li[::-1])
print(li[-1::-1])
print(li[2:5])
print(li[2:4])

['gitam', 123, 124, 1323, 1245, 3451]
1323
[1323, 1245, 3451]
[3451, 1245, 1323, 124, 123, 'gitam']
[3451, 1245, 1323, 124, 123, 'gitam']
[124, 1323, 1245]
[124, 1323]

In [2]:
# update
li[0] = "likta"
print(li)

['likta', 123, 124, 1323, 1245, 3451]

In [3]:
#delete
del li[5]
print(li)

['likta', 123, 124, 1323, 1245]

In [6]:
li =[1,2,3,4,5,56]
print(len(li))
print(li*2)
print(7 in li )
print(5 in li)

6
[1, 2, 3, 4, 5, 56, 1, 2, 3, 4, 5, 56]
False
True

# Basic List functions

In [8]:
li =[1,2,3,4,5,6]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li)) # Average

6
1
21
3.5

In [13]:
li=[1,2,3,4,5,6]
li.append(29) # Add new item at of the list
print(li)
li.insert(2,56) # Add new item at specific index
print(li)

[1, 2, 3, 4, 5, 6, 29]
[1, 2, 56, 3, 4, 5, 6, 29]

In [14]:
li =[1,2,56,3,4,5,6,29]
li.sort()
print(li)
li.pop()
print(li)
li.pop(1)
li

[1, 2, 3, 4, 5, 6, 29, 56]
[1, 2, 3, 4, 5, 6, 29]

[1, 3, 4, 5, 6, 29]

In [19]:
# Function to return large number from list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li =[19,1,3,87,32,21,36]
print(largenumber(li))
print(genericlarge(li,3))

87
32

In [24]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li =[19,1,3,87,32,21,36]
print(smallnumber(li))
print(genericsmall(li,3))

1
19

# Tuples
- values seperated by commas enclosed by paranthesis ()
- values cannot be changed i.e, immutable

# Difference between list and tuple
- list can be modified
- list is used to access means modify,add,delete,update
- tuples cannot be modified
- tuples are used to access data only

In [25]:
t1= (1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# Dictionaries:
- works on concept of set unique data
- dictionary conatains keys and values
- each key seperated from its value with colon ':'
- each key values seperated by comma
- dictionary enclosed by { }

In [35]:
d1 = {"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}

In [34]:
d1["name"]

'gitam'

In [39]:
d1 = {"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)
d1["email"]="python@gmail.com"
print(d1)

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}
{'name': 'gitam', 'email': 'python@gmail.com', 'address': 'hyderabad'}

In [41]:
d1 = {"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)
del d1["name"]
print(d1)

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}
{'email': 'gitam@gmail.com', 'address': 'hyderabad'}

In [48]:
d1 = {"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)
d1["name"]="likta"
print(d1)
del d1["address"]
print(d1)
d1["course"]="python"
print(d1)

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}
{'name': 'likta', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}
{'name': 'likta', 'email': 'gitam@gmail.com'}
{'name': 'likta', 'email': 'gitam@gmail.com', 'course': 'python'}

In [49]:
d1.values()

dict_values(['likta', 'gitam@gmail.com', 'python'])

In [50]:
d1.items()

dict_items([('name', 'likta'), ('email', 'gitam@gmail.com'), ('course', 'python')])

In [51]:
d1.keys()

dict_keys(['name', 'email', 'course'])

# Strings:

In [55]:
s1 = 'python'
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[::-1])
print(s1[-1::-1])

print(type(s1))

p
n
thon
nohtyp
nohtyp
<class 'str'>

In [57]:
s1 = 'python'
print(s1[len(s1)//2])
print(s1[0:6:3])

h
ph

In [63]:
# using function reverse of string
def reverseofstring(str):
    return(str[::-1])
    
reverseofstring("programming")

'gnimmargorp'

In [2]:
# Check whether the given string was palindrome or not
str=input("enter a string:\n")
def palindrome(str):
    if str==str[::-1]:
        return True
    else:
        return False
print(palindrome("mom"))

enter a string:
mom
True

# String build in methods:
- upper()
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [12]:
s1="likta"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

LIKTA
likta
False
True
False
False
True
False

# String methods
- join()
- split()
- replace()

In [23]:
s1 = 'python is easy'
print(".".join(s1))
print(s1.split('.'))

p.y.t.h.o.n. .i.s. .e.a.s.y
['python is easy']

In [26]:
s1="python is easy"
li=list(s1)
li

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y']

In [40]:
s1="python is easy to learn"
print(s1.replace("easy","very easy"))

python is very easy to learn

In [44]:
s1={"80,85,90"}
s2={"86,90,95"}
print(s1)

{'80,85,90'}

In [60]:
d1={'peter':[80,85,90],'joe':[86,90,95]}
d1["peter"]
li=d1["peter"]
li[1]

85

In [62]:
li=d1["joe"]
li[0]

86